<!DOCTYPE html> 
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Hola Mundo</title>
        <meta name="description" content="Curso Angular JS">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="../node_modules/angular/angular.js"></script>
    </head>

    <body ng-app ng-init="userName='Pepe';curso='Angular JS'">
        <form action="">
            <p>
                <label for="inputName">Nombre</label>
                <input id='inputName' ng-model="userName" ></input>
            </p>
            <p>
                <button ng-click="userName=''">Borrar</button>
            </p>
        </form>
       
        <p>Bienvenido al curso de {{curso}}</p>

        <p>Hola Mundo {{userName}}</p>
    </body>
    
</html>